/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    /* Use light blue as the background color */
    background-color: #8D918D;
    /* Use a sans-serif font */
    font-family: Arial, sans-serif;
    /* Use light pink as the default text color */
    
} 

/* Add some padding around the whole page */
.container {
    padding: 30px;
}

/* Style headings */
h1, h2, h3 {
    /* Use light pink for heading text */
   
    /* Add some space below headings */
    margin-bottom: 20px;
}

/* Style paragraphs */
p {
    /* Use light pink for paragraph text */
  
    /* Add some space below paragraphs */
    margin-bottom: 20px;
}

/* Style links */
a {
    /* Use light pink for links */
    
    /* Remove the default underline */
    text-decoration: none;
}

/* Change the link color on hover */
a:hover {
    /* Use a darker shade of pink for hover */
    color: #FF00FF;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #Fff; 
    height: 400px; /* adjust as needed */
    width:auto;
}

#hero img {
    max-width: 100%; /* to ensure the image doesn't overflow the div */
    height: auto; /* maintain aspect ratio */
}

footer {
    background-color: #FF00FF; 
    padding: 20px;
    width: 100%;
    text-align: center;
}

.main-content {
    padding: 30px;
    background-color: #8D918D; 
    color: #fff; 
}

.main-content h2, .main-content h3 {
    margin-bottom: 15px;
}

.main-content p {
    margin-bottom: 20px;
    line-height: 1.5;
}

.hosts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.host {
    width: 45%; /* ensures there's some space between the hosts */
}

@media screen and (max-width: 768px) {
    /* On smaller screens, the host bios stack vertically */
    .hosts {
        flex-direction: column;
    }

    .host {
        width: 100%;
        margin-bottom: 20px;
    }
}



/* I hate you */
