/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    /* Use light blue as the background color */
    background-color: #ADD8E6;
    /* Use a sans-serif font */
    font-family: Arial, sans-serif;
    /* Use light pink as the default text color */
    
}

/* Add some padding around the whole page */
.container {
    padding: 30px;
}

/* Style headings */
h1, h2, h3 {
    /* Use light pink for heading text */
   
    /* Add some space below headings */
    margin-bottom: 20px;
}

/* Style paragraphs */
p {
    /* Use light pink for paragraph text */
  
    /* Add some space below paragraphs */
    margin-bottom: 20px;
}

/* Style links */
a {
    /* Use light pink for links */
    
    /* Remove the default underline */
    text-decoration: none;
}

/* Change the link color on hover */
a:hover {
    /* Use a darker shade of pink for hover */
    color: #FFB6C1;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #Fff; /* light pink */
    height: 400px; /* adjust as needed */
}

#hero img {
    max-width: 100%; /* to ensure the image doesn't overflow the div */
    height: auto; /* maintain aspect ratio */
}



footer {
    background-color: #FFB6C1; /* light pink */
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
