/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    /* Use light blue as the background color */
    background-color: #8D918D;
    /* Use a sans-serif font */
    font-family: Arial, sans-serif;
}

/* Add some padding around the whole page */
.container {
    padding: 30px;
}

/* Style headings */
h1, h2, h3 {
    /* Add some space below headings */
    margin-bottom: 20px;
}

/* Style paragraphs */
p {
    /* Add some space below paragraphs */
    margin-bottom: 20px;
}

/* Style links */
a {
    /* Remove the default underline */
    text-decoration: none;
}

/* Change the link color on hover */
a:hover {
    /* Use a darker shade of pink for hover */
    color: #FF00FF;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0; 
    height: 400px;
    width:auto;
}

#hero img {
    max-width: 100%;
    height: auto;
}

h2 {font-size: 40px;}

.platforms a, h3 {font-size: 30px;}

h4 {font-size: 25px;}


footer {
    background-color: #FF00FF; 
    color: #fff;
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 20px ;
    padding-top: 20px;
    padding-bottom: 10px;
}

.main-content {
    padding: 30px;
    background-color: #8D918D; 
    color: #fff; 
    margin-bottom: 50px; /* Added bottom margin */

}

.main-content h2, .main-content h3 {
    margin-bottom: 15px;
}

.main-content p {
    margin-bottom: 20px;
    line-height: 1.5;
}

.hosts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.host {
    width: 45%; /* ensures there's some space between the hosts */
}

.host-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.episodes {
    background-color: #4d4f53;
    padding: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px; /* Added top margin */

}

.episodes a {
color: #FF00FF;
}

.episodes h2, .episodes p {
text-align: center;
}

.platforms {
display: flex;
flex-direction: row;
justify-content: space-around;

}

label {
    font-weight: 700;
}

input {
    margin-top: 3%;
}

.Contact {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    
}


#mce-MMERGE5 {
min-height: 200px;

}
.mc-field-group{
    padding-bottom: 5%;
}

#mc_embed_signup {
padding-bottom: 5%;

}

.mc_embed_signup_scroll {
min-width: 400px;

}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    /* On smaller screens, the host bios stack vertically */
    .hosts, .platforms  {
        flex-direction: column;
    }

    .host, .platforms a {
        width: 100%;
        margin-bottom: 20px;
    }

    h3, h4 {text-align: center;}

    .platforms a {
        text-align: center;
        font-size: 35px ;
    }

    .host img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1000px) {
    .main-content, .episodes {
        padding-left: 15%;
        padding-right: 15%;
    }

    body, p, a {
        font-size: 125%;
    }

    h1, h2, h3, h4 {
    font-size: 200%;
    }
}
.my-form {
    display: grid;
    grid-template-columns: (1 , 1fr);
    align-items: end;  
    max-width: 800px; /* This will be the maximum width of your form */
    margin: auto; /* Centers the form horizontally */  }
.label-container {
    margin-bottom: 1rem;
}
.label-text {
    display: inline-block;
    margin-bottom: 3px;
    padding: .35rem;
    background-color: #6079ff;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: 'Montserrat', cursive;
}
input {
    display: block;
    min-height: 50px;
    width: 100%;
    padding: 6px;
    border: 1px solid #4f4f4f;
    border-radius: 0px;
    box-shadow: rgba(10, 10, 10, .05) 0 1px 4px 0 inset;
}
.submit-btn {
    padding: 14px 16px;
    margin-bottom: 1rem;
    min-height: 50px;
    border-radius: 4px;
    background-color: #f57afc;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 'Montserrat';
    color: #fff;
}

@media screen and (min-width: 64rem) {
    #mc_embed_signup_scroll {
        grid-template-columns: repeat(3 , 1fr);
    }
}

.submit-btn {
    grid-column-start: 3;
}

.button {
    display: inline-block;
    padding: 30px 20px;
    font-size: 1.5em;
    color: #fff;
    background-color: #FF00FF;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 102.5%;
}

.Contact {
    color: #fff;
}

.button:hover {
    background-color: #cc00cc;
}

input[type="text"]
{
    font-size:24px;
    font-weight: 400;
}
